# Gradle
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar
gradle-app.setting

# Local configuration
my-release-key.jks
keystore.properties
local.properties
*.keystore
*.jks

# Android Studio / IntelliJ
.idea/
*.iml
*.iws
*.ipr

# NDK / CMake
.externalNativeBuild/
.cxx/

# Captures / profiling
captures/
*.hprof

# OS junk
.DS_Store
Thumbs.db

# Logs & outputs
*.log
app/release/*
*.apk
*.aab

# JetBrains Fleet
.fleet/


