<manifest xmlns:android="http://schemas.android.com/apk/res/android">
<!-- So Android 11+ can see Termux -->
<queries>
<package android:name="com.termux" />
</queries>


<!-- Required by Termux RUN_COMMAND intent -->
<uses-permission android:name="com.termux.permission.RUN_COMMAND" />


<!-- Network for GitHub API calls -->
<uses-permission android:name="android.permission.INTERNET" />


<application
android:allowBackup="true"
android:label="Next Installer"
android:supportsRtl="true"
android:theme="@android:style/Theme.Material.Light.NoActionBar">


<activity android:name=".MainActivity"
android:exported="true">
<intent-filter>
<action android:name="android.intent.action.MAIN" />
<category android:name="android.intent.category.LAUNCHER" />
</intent-filter>
</activity>


<!-- Receiver or Service is optional if you don't need command results -->
</application>
</manifest>
